.env
node_modules
.DS_Store
.env.local
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local
.env.development.local.example
.env.production.local.example
.env.test.local.example
secure/cookies/youtube.txt